#calendar-nav .nav-btn.active {
  color: white !important;
  text-shadow: 0 0 20px #eab308;
  font-size: 2.5rem;
  transform: scale(1.15);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}